body{
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfPIXqd5uFnuneC2R8Ml_ZWy-8-WAqxWh2Xg&usqp=CAU"); */
    background: lightgrey;

}

h1{
    font-family: cursive;
    color: black;
}
h3{
    color: black;
}
ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button{
    background-color: #3d68c6;
    border-radius: 2rem;
}


button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}